#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Idea
Comment=Jetbrains IntelliJ
Icon=/usr/local/share/<%= @name_and_build %>/bin/idea.png
Exec=/usr/local/share/<%= @name_and_build %>/bin/idea.sh
Terminal=false
Type=Application
Categories=Development;Application;
